In [2]:
from utility_dfcounter import *

In [12]:
counter = DFCounter('mu','1b')

In [22]:
acc,accVar = counter.getAcc('mumu','==1')

In [53]:
counter.dfNGen

,name,ngen
0,t,"[23105.0, 23040.0, 46342.0, 694.0, 717.0, 1420..."
1,tt,"[45761474.0, 45761517.0, 91467936.0, 1435222.0..."
2,tt_2l2nu,"[8790013.0, 8789997.0, 17569531.0, 275633.0, 2..."
3,tt_semilepton,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,ttbar_inclusive_fsrdown,"[344060.0, 343842.0, 688151.0, 10837.0, 10387...."
5,ttbar_inclusive_fsrup,"[689711.0, 690221.0, 1377457.0, 21341.0, 20948..."
6,ttbar_inclusive_isrdown,"[560886.0, 560321.0, 1119865.0, 17634.0, 16891..."
7,ttbar_inclusive_isrup,"[688025.0, 689145.0, 1377801.0, 21480.0, 20757..."
8,ttbar_inclusive_hdampdown,"[339192.0, 338899.0, 678374.0, 10826.0, 10269...."
9,ttbar_inclusive_hdampup,"[345681.0, 346438.0, 692678.0, 10990.0, 10491...."
10,ttbar_inclusive_down,"[330308.0, 330453.0, 660164.0, 10381.0, 9782.0..."
11,ttbar_inclusive_up,"[342091.0, 341410.0, 682622.0, 10671.0, 10171...."

In [51]:
nGenMCtt = counter.dfNGen[counter.dfNGen.name=='tt'].ngen.values[0]

In [52]:
nGenMCtt

array([4.57614740e+07, 4.57615170e+07, 9.14679360e+07, 1.43522200e+06,
       1.37005200e+06, 2.80219500e+06, 1.05326610e+07, 1.02792750e+07,
       1.93078820e+07, 1.62182360e+07, 1.58330680e+07, 5.94021870e+07,
       1.62129880e+07, 1.58315770e+07, 5.94303070e+07, 1.75700597e+08,
       1.75680902e+08, 3.11566350e+07, 3.04278840e+07, 1.14178658e+08,
       7.09302780e+07])

In [48]:
df = DFCutter('mumu','==1','mctt').getDataFrame()
nMCtt = counter._countDataFrameByTauDecay(df, normToLumin=False, withWeights=True)

In [49]:
common.getEfficiency(nMCtt, nGenMCtt)

(array([0.00000000e+00, 5.54424897e-03, 2.83226951e-06, 0.00000000e+00,
        1.46862327e-03, 1.73787945e-06, 0.00000000e+00, 3.18280814e-06,
        0.00000000e+00, 0.00000000e+00, 1.49484297e-06, 0.00000000e+00,
        2.89027145e-06, 3.04907191e-03, 5.54859867e-06, 0.00000000e+00,
        2.64244318e-05, 3.25353002e-08, 1.12989184e-05, 0.00000000e+00,
        4.87439177e-08]),
 array([3.32718635e-16, 1.20638546e-10, 3.10840899e-14, 3.38249991e-13,
        1.07209927e-09, 7.06449589e-13, 6.28059511e-15, 3.16353561e-13,
        1.86899360e-15, 2.64892606e-15, 9.72000006e-14, 1.97456883e-16,
        1.81038494e-13, 1.92256247e-10, 9.36715258e-14, 2.25699548e-17,
        1.50622418e-13, 1.74568620e-15, 3.72528002e-13, 5.34450259e-17,
        8.21736765e-16]))

## 1. count nominal

In [3]:
def countDataFrames(variation=""):
    labels  = ["trigger","usetag","acc","accVar","nmcbg","nmcbgVar","nfake","nfakeVar","ndata","ndataVar"]
    records = []
    for trigger in ["mu","e"]:
        for usetag in ["1b","2b"]:
            print( "counting "+trigger+usetag + " ...")

            counter = DFCounter(trigger,usetag)
            counter.setVariation(variation)

            acc,accVar = counter.returnAcc()
            nmcbg,nmcbgVar = counter.returnNMCbg()
            nfake,nfakeVar = counter.returnNFake()
            ndata,ndataVar = counter.returnNData()
            records.append( (trigger,usetag,acc,accVar,nmcbg,nmcbgVar,nfake,nfakeVar,ndata,ndataVar) )

    df = pd.DataFrame.from_records(records, columns=labels)
    df.to_pickle( common.getBaseDirectory() + "data/counts/count_inc{}.pkl".format(variation))
    print( "counting finished!")

In [4]:
countDataFrames()

counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!

## 2. count with variation

In [2]:
ttTheory    = ['FSRUp','FSRDown','ISRUp','ISRDown','UEUp','UEDown','MEPSUp','MEPSDown']
ttLHEWeight = ["RenormUp","RenormDown","FactorUp","FactorDown","PDFUp","PDFDown"]

lepEnergy   = ['EPtDown','MuPtDown','TauPtDown']
jetEnergy   = ["JESUp","JESDown","JERUp","JERDown"]
bTagging    = ["BTagUp","BTagDown","MistagUp","MistagDown"]

variations  = ttTheory+ttLHEWeight+lepEnergy+jetEnergy+bTagging
for v in variations:
    countDataFrames(v)

counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!
counting mu1b ...
counting mu2b ...
counting e1b ...
counting e2b ...
counting finished!